<div id="pathsContainer">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @path.name %>
</p>

<p>
  <b>Content:</b>
  <%= @path.content %>
</p>

<%= link_to 'Edit', edit_path_path(@path) %> |
<%= link_to 'Back', paths_path %>

<h1>Resources within Path </h1>
<br/>
<div id="pathResources">
<hr/>
	<% for path_item in InPath.where('path_id = ?',@path.id) %>
	    <%= render :partial => "resources_for_path",
	               :locals =>{ :path_item => path_item } %>
	<% end %> 
</div>

</div>