<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @path.name %>
</p>

<p>
  <b>Content:</b>
  <%= @path.content %>
</p>


<%= link_to 'Edit', edit_path_path(@path) %> |
<%= link_to 'Back', paths_path %>
