
  <tr>
    <td><%= link_to path.name, path %></td>
    <td><%= path.content %></td>
    <td><%= link_to 'Show', path %></td>
    <td><%= link_to 'Edit', edit_path_path(path) %></td>
    <td><%= link_to 'Destroy', path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
