<%= content_for :top_section do %>
 <div id="topTitle">
       Search
 </div>

    <%= render 'search' %>
	<%= render 'leftMenu' %>
	<%= render 'rightMenu' %>    
<%  end %>

<%= content_for :bottom_wrapper do %>
	<%= render 'filter' %>
	<%= render :partial => 'results', :collection => @resources, :as => 'resource' %>
<%  end %>