	
	<div id="contentOptions">

	    <div id="showOnly">

	    	Show: 

	        <a href="#"> All</a> |

	        <a href="#">Questions</a> |  

	        <a href="#">Paths</a> | 

	        <a href="#" class="selected">Resources</a>

	    </div>

	    <div id="sort"> 

	        Sort by: <a href="#" class="selected">Upvotes</a> | <a href="#">New</a>

	    </div>

	</div> <!-- end contentOptions -->

		<div id="contentHeader" style="border-bottom:none; text-align:center;">

	    	Welcome to <span style="robotoRegular; font-size:24px; color:#C66F58;">Knowledge Thief</span> - the hub of the web's best <span style="robotoRegular; font-size:24px; color:#C66F58;">free</span> learning content for any topic.<br>

	    </div>

	    <div id="contentSubHeader" style="text-align:center;">

	        Search for help in any class. View the resource. Rate it. Enjoy learning from the best.<br><br>


	        <a href="#" style="font-size:15px;">Tell me more</a> <br><br>

	    </div>


	    <div id="homeDash">

	    	<div id="dashFarLeft">

	    	<%= link_to "Popular", home_index_path(:selection_type => "popular"),  :class => "homeDashSelected"%><br>

	        </div>

	        <div id="dashLeft">

	        <%= link_to "Recent", home_index_path(:selection_type => "recent"),  :style => "color:#5F9367; font-size:24px; font-family:robotoLight; line-height:1.28" %><br>

	        <a href="#" style="padding-top:2px;; font-family:robotoMedium; text-transform:lowercase; color:#AF5D41; font-size:13px; border-bottom:none; margin-top:4px;">Customize</a>

	        </div>

	        <div id="dashRight">

	        <a href="#" style="color:#5F9367; font-size:24px; font-family:robotoLight; line-height:1.28">Recommended</a><br>     

	        <a href="#" style="padding-top:2px;; font-family:robotoMedium; text-transform:lowercase; color:#AF5D41; font-size:13px; border-bottom:none; margin-top:4px;"">Customize</a>   

	        </div>

	        <div id="dashFarRight">


	        <a href="#" style="color:#5F9367; font-size:24px; font-family:robotoLight; line-height:1.28">---</a><br>

	        <a href="#" style="padding-top:2px;; font-family:robotoMedium; text-transform:lowercase; color:#AF5D41; font-size:13px; border-bottom:none; margin-top:4px;"">Customize</a>

	        </div>

	    </div>




	    <div id="contentHeader">

	        <%= @select_type %> 

	        <!-- <div id="contentSubHeader">

	    		<a href="#">Customize</a> 

	    	</div> -->

	    </div>
		<% if @resources.empty?%>
		      <div id="postResults">
		    <p class="noResults">Sorry, we currently have no results for "<%= params[:tag] %>", you should contribute some!</p>

		    </div>
		<% else %>
		  <% @resources.each do |learningresources| %>

		<!---------------------->


		<div class="resultWrapper" style="margin-left:20%"> <!-- result wrapper -->
			
		    <div class="resourceThumb">

		        	<% if learningresources.youtubeID.nil? %>
						<%= link_to image_tag('websiteHolder.png'), "#", :style => "margin:0;" %>
					<% else %>
						<img src ="<%=  learningresources.youtubeID %>"/>
					<% end %>

		    </div>

		    <div class="voteBox">
				
		        <p class="upvotes">

		       <%= learningresources.reputation_for(:votes).to_i %>

		        </p>
					
					<% unless current_user %>
					 	<%= image_tag("topTriangle.png", :style => "position:absolute; bottom:22px; left:4px;")%>
					<% else %>
					<%= link_to image_tag('topTriangle.png', :style => "position:absolute; bottom:22px; left:4px;"), vote_resource_path(learningresources, type: "up"), method: "post", :value => learningresources.id %>
					<% end %>
		       
					<% unless current_user %>
							<%= image_tag("bottomTriangle.png", :style => "position:absolute; bottom:0; left:4px;")%>
						<% else %>
						<%= link_to image_tag('bottomTriangle.png', :style => "position:absolute; bottom:0; left:4px;"), vote_resource_path(learningresources, type: "down"), method: "post"%>
						<% end %>

		    </div> <!-- end voteBox -->


		        <div class="resourceTitle">
		        		<% if learningresources.youtubeID.nil? %>
							<%= link_to learningresources.title, learningresources.link, :target => "_blank", :class => "resourceViewer", :value => learningresources.id  %>
						<% else %>

							<%= link_to learningresources.title, youtube_embed(learningresources.link), :target => "_blank", :class => "resourceViewer", :value => learningresources.id  %>
						<% end %>

		            <div class="subInfo">



		        </div>


		        </div>


		        <div class="resourceTags">

					<a href="#">resonance structures, organic chemistry 2, cellular biology</a> 

		        </div>

		        <div class="resourceDescription">

		           <%= learningresources.description %>

		        </div>
		        <div class="postedBy">

		    		linked by <a href="#" class="userName">Professor Jenkins</a>

		            <p class="timeAgo">

		            	1 week ago

		            </p>
		        		<div class="subOptions">
					    	<a href="#"><div style="display:inline; font-size:12px; color: #1FBF39; margin-right:1px;" class="icon-share"></div> share</a>  <a href="#"> <div style="display:inline; font-size:12px; color: #1FBF39; margin-right:1px;" class="icon-plus"></div> save</a>  <a href="#"><div style="display:inline; font-size:12px; color: #1FBF39; margin-right:1px;" class="icon-wrench"></div> edit</a>  <a href="#"><div style="display:inline; font-size:12px; color: #1FBF39; margin-right:1px;" class="icon-flag"></div> flag</a>
					    </div>
		   		</div>

		</div> <!-- end result wrapper -->



		 <% end %>
		<% end %>





	</div> <!-- end contentColumn -->







