<!-- <% form_tag resources_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:tag] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %> -->
<% if @resources.empty?%>
      <div id="postResults">
    
    <p class="noResults">Sorry, we currently have no results for "<%= params[:tag] %>", you should contribute some!</p>
    
    </div>
<% else %>
  <% @resources.each do |learningresources| %>
    <div class="resultWrapper"> <!-- result wrapper -->
        <div class="voteBox">
	<% unless current_user %>
	<div style="position:absolute; bottom:0; left:12px;height:15px;top:-25px;">
	 <%= image_tag("triangle.png")%></div>
	<% else %>
	<%= link_to image_tag('triangle.png', :style => "position:absolute; top:0; left:12px;"), vote_resource_path(learningresources, type: "up"), method: "post" %>
	<% end %>
	<div id="resourceReputation" style="position:relative;left:8px;">
        <%= learningresources.reputation_for(:votes).to_i %>
	</div>
	<% unless current_user %>
	<div style="position:absolute; bottom:0; left:12px;height: 15px; top: 25px;">
		<%= image_tag("bottomTriangle.png")%></div>

	<% else %>
	<%= link_to image_tag('bottomTriangle.png', :style => "position:absolute; bottom:0; left:12px;"), vote_resource_path(learningresources, type: "down"), method: "post" %>
	<% end %>        
	</div>
        <div class="resourceThumb">
		<% if learningresources.youtubeID %>
			<img src ="<%=  learningresources.youtubeID %>"/>
		<% else %>
			<%= link_to image_tag('thumbex.JPG'), "#" %>
		<% end %>
        </div>
        
        <div class="resourceCentralWrapper">
        <div class="resourceTitle">
        <%= link_to learningresources.title, learningresources.link, :target => "_blank" %><br />
        </div>
    
        <div class="resourceDescription">
        <%= learningresources.description %>
        </div>
    
    <div class="subOptions">
    <a href="#">share</a>  <a href="#">save</a>  <a href="#">manage</a>  <a href="#">flag</a>
    </div>
    
 </div> <!-- end central wrapper -->

</div> <!-- end result wrapper -->
 <% end %>
<% end %>


