<div id="bar-wrap">
	<div id="navCollapse">
		<div id="button-home" class="colorChange" style="width: 53px;">
			<div class="home-white"></div>
			<a id="home" class="load-item ui-link" style="opacity: 0;"></a>
		</div>
		<div id="button-upvote" class="colorChange" style="width: 53px;">
			<div class="upvote-white"></div>
			<a id="upvote" class="load-item ui-link" style="opacity: 0;"></a>
		</div>
		<div id="button-downvote" class="colorChange" style="width: 53px;">
			<div class="downvote-white"></div>
			<a id="downvote" class="load-item ui-link" style="opacity: 0;"></a>
		</div>
		<div id="search-box" class="colorChange">
			<h1 id="searchTitle">KT</h1>
			<form accept-charset="utf8" action="/resources/search" method="get" id="mainSearchWrapper">
			    <%= text_field_tag :q,  params[:q],{:id => "search_input_text", :class =>"mainSearch", :placeholder => "I want to learn..."} %>
			    <input type="image" src="assets/searchIcon.png" value=" " class="mainSubmit">
			</form>
		</div>
		
		<div class="button-left colorChange" style="width: 53px;">
			<div class="white-buttons-background" style="width: 0px;"></div>
			<a id="prevslide" class="control load-item ui-link" style="opacity: 0;"></a>
		</div>
		<div class="button-right colorChange" style="width: 53px;">
			<div class="white-buttons-background" style="width: 0px;"></div>
			<a id="nextslide" class="control load-item ui-link" style="opacity: 0;"></a>
		</div>
	</div> 
	<div id="info-toggle" style="width: 53px;" class="colorChange">
		<div class="white-buttons-background" style="width: 0px;"></div>
		<a href="#" id="info-button" class="info-button ui-link" style="opacity: 0;"></a>
	</div>
	<div id ="resourceNavigation">
		<div class="navigation-box" id="resourceNav-info">
			<div class="navigation-box-white"></div>
			<a href="#" id="nav-info-button" class="" style="opacity: 0;"></a>
		</div>
		<div class="navigation-box" id="resourceNav-addQuestion">
			<div class="navigation-box-white"></div>
			<a href="#" id="nav-question-button" class="" style="opacity: 0;"></a>
		</div>
		<div class="navigation-box" id="resourceNav-addResource">
			<div class="navigation-box-white"></div>
			<a href="#" id="nav-resource-button" class="" style="opacity: 0;"></a>
		</div>
		<div class="navigation-box" id="resourceNav-addPath">
			<div class="navigation-box-white"></div>
			<a href="#" id="nav-path-button" class="" style="opacity: 0;"></a>
		</div>
	</div>
	<div id="resourceContent">
		<!-- comments and search results -->
		<div id="information-box" class="navHere">
			<div class="info-box " class="colorChange" style="margin-right:10px;">
				<div class="info-content">
					<h2>Comments</h2>
			    	<div id="commentsHolder">
			    		<ul class="commentsList"></ul>
					</div>	
					<div id="newCommentForm">
						<% if(current_user) %>
    						<form accept-charset="utf8" class="commentform" action="/comments/0/forresource" method="get">
								<input id="commenttext" placeholder="comment..." type="text">
		 						<button type="button" id="saveComment" >save</button>
							</form>
						<% else %>
								<div> Login to comment </div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="info-box" class="colorChange">
				<div class="info-content">
					<h2>Search Results</h2>
			    	<div id="commentsHolder">
			    		<ul class="commentsList"></ul>
					</div>	
					
				</div>
			</div>
		</div>
		<!-- End ofcomments and search results -->
		<!-- Ask a Question -->
		<div id="questions-form">
			<h2>New Question</h2>
			<div class="formHolder">
				<%= form_for(Resource.new) do |f| %>
					<div class="inputField">
						<div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-question-sign"></div>
						<%= f.label :title %>
	        			<%= f.text_field :title, :placeholder => "Enter a title" %>
	        		</div>
	        		<div class="inputField">
	        			<div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-info-sign"></div>
	        			<%= f.label :description %>
	       				<%= f.text_area :description, :rows => "5", :placeholder => "What is your question?"%>
	        		</div>
	        		<div style="clear:both"></div>
	        		<div class="inputField">
						<div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-tags"></div>
						<%= f.label :tag_list %>
	         			<%= f.text_field :tag_list, :placeholder => "Type at least 3 tags" %>
	         		</div>
	         		<br>
	        		<%= f.submit "Ask Question", :class => "submit .btn-large" %>
			<% end %>
			</div>
		</div>
		<!-- End of questions -->
		<!-- Add a Resource -->
		<div id="resource-form">
			<h2>New Resource</h2>
			<div class="formHolder">
				<%= form_for(Resource.new) do |f| %>
					<div class="inputField">
						<div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-link"></div>
						<%= f.label :link %>
						<%= f.text_field :link, :placeholder => "Paste link to resource" %>
					</div>
					<div class="inputField">
						<div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-book"></div>
						<%= f.label :title %>
	        			<%= f.text_field :title, :placeholder => "Enter a title" %>
	        		</div>
	        		<div class="inputField">
	        			<div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-info-sign"></div>
	        			<%= f.label :description %>
	       				<%= f.text_area :description, :rows => "5", :placeholder => "Describe your question"%>
	        		</div>
	        		<div style="clear:both"></div>
	        		<div class="inputField">
						<div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-tags"></div>
						<%= f.label :tag_list %>
	         			<%= f.text_field :tag_list, :placeholder => "Type at least 3 tags" %>
	         		</div>
	         		<br>
	        		<%= f.submit "Submit Resource", :class => "submit .btn-large" %>
			<% end %>
			</div>
		</div>
		<!-- End of Resource -->
		<!-- Add a Path -->
		<div id="path-form">
			<h2>New Path</h2>
			<div class="formHolder">
			</div>
		</div>
		<!-- End of Paths -->
	</div>
</div>
