<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=no" />
    <title><%= content_for?(:title) ? yield(:title) : "Knowledge Thief" %></title>
    <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

</head>
<body>

	<div id="wrapper">

	<!-- Header -->

	<div id="header">
		<div id="headerLeft"> <!-- Header left -->

			<div id="logo">
	        	<a href="#"><img src="assets/KT_Logo.png" height="64px"></a>
	        </div>
			<div id="logoText">
	        	<a href="/"><span style="font-weight:400">Knowledge</span> Thief</a>
	        </div>
	        <!-- 
	        <div id="headerSentence">
	            home .... resources paths forums 
	    	</div> -->

	<form accept-charset="utf8" action="/resources" method="get">
		<div id="mainSearchWrapper">
	    	<%= text_field_tag :tag,  params[:tag], :class =>"mainSearch", :placeholder => "Search to learn anything" %>
	    <input type="image" src="assets/searchIcon.png" value=" " class="mainSubmit">
	    </div>
	</form>

	
	<div id="navCollection">
		<div id="navForums">
	    <a href="/" >
	   		<p>Forums</p>
	    	<img src="assets/forumsIcon.png" height="100%">
	    </a>
	    </div>

	    <div id="navPaths">
	    <a href="/">
	    	<p>Paths</p>
	    	<img src="assets/pathsIcon.png" height="100%">
	    </a>
	    </div>

	    <div id="navResources">
	    <a href="/resources">
	    	<% if currentPath(resources_path) == "current" %>
			<% @current = "<p class = '#{currentPath(resources_path)}' >" %>
			<%=raw @current %>
			<%else%>
			<p>
			<%end%>
				Resources</p>
	    	<img src="assets/resourcesIcon.png" height="100%">
	    </a>
	    </div>

		<div id="navHome">
	    <a href="/">
	    	<% if currentPath(home_path) == "current" %>
			<% @current = "<p class = '#{currentPath(home_path)}' >" %>
			<%=raw @current %>
			<%else%>
			<p>
			<%end%>
			Home</p>
	    	<img src="assets/homeIcon.png" height="100%">
	    </a>
	    </div>	   
	</div>

	</div>  <!-- End Header left -->

	<div id="headerRight"> <!-- Header right -->
		<% if user_signed_in? %>
		 <div class="signin">
			<nav>
			<ul>
				<li id="login">
					<a id="login-trigger" href="#">
							<%= current_user.email %> 
					</a>
					<div id="login-content">
					<br> Reputation: <%= current_user.reputation_for(:karma).to_i %>
					</div>                     
				</li>
				<li id="signup">
						<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
				</li>
			</ul>
			</nav>
		
				
				
		
			
		
		<% else %>
		 <div class="signin">
			<nav>
			<ul>
				<li id="login">
					<a id="login-trigger" href="#">
						Log in <span>▼</span>
					</a>
					<div id="login-content">
						<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
							<div><%= f.label :email %><br />
							<%= f.email_field :email %></div>

							<div><%= f.label :password %><br />
							<%= f.password_field :password %></div>

							<% if devise_mapping.rememberable? -%>
								<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
								<% end -%>
								<div><%= f.submit "Sign in" %></div>
						<% end %>
					</div>                     
				</li>
				<li id="signup">
					<a href="/register">Sign up FREE</a>
				</li>
			</ul>
			</nav>
		
		<%end%>
	 	<!-- ><a href="/register">Sign up</a>  | 
		<div style="display:inline; font-size:12px; color: #eee; margin-right:1px;" class="icon-user"></div>
		<a href="/login"> Sign In </a> 
		-->
	 </div>

	 <div class="notifications">
	   <p><div style="display:inline; font-size:12px;" class="icon-unlock"></div> unlocked new abilities</p>
	   <p><div style="display:inline; font-size:12px;" class="icon-certificate"></div> earned profile badge</p>
	 </div>




	</div> <!-- End Header right -->

	</div> <!-- End Header -->

	<!-- Sub Header -->

	<div id="subHeader">	

		<div id="rightSubHeader">
			<a href="#"><div style="display:inline; font-size:12px; margin-right:1px; color:#ccc;" class="icon-signin"></div> submit a resource</a> | <a href="#"><div style="display:inline; font-size:12px; margin-right:1px; color:#ccc;" class="icon-question-sign"></div> ask a question</a>
		</div>


		<p class="breadCrumbs">  </span> </p>

		<div id="sort"> sort by: <a href="#" class="sortGreen">upvotes</a> | <a href="#" class="sortBlue">new</a> | <a href="#" class="sortRed">hot</a> 
		</div>

	</div>  <!-- end Sub Header -->



	<!-- Center Column Main Content -->

	<div id="contentWrapper">

	<div id="leftColumn">

	 

		<div id="contentHeader">
	       Featured resources 
	    </div>

	    <div id="postResults">

	    </div>
		<%= yield %>


	</div>


	<!-- Right Column -->

	<div id="rightColumn">


	    <div class="rightColumnBox">
	    <p class="rightColumnHeader">
	        Submit a Resource
	    </p>

	    <div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-link"></div>
	    <p class="rightColumnSubHeader">Link </p>
	    <div class="inputPadding">
				    
			<%= form_for(Resource.new) do |f| %>
	        <%= f.text_field :link, :placeholder => "Paste link to resource" %>
	        <div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-book"></div>
	        <p class="rightColumnSubHeader" style="display:inline-block;">Title </p>
	        <%= f.text_field :title, :placeholder => "Enter a title" %>

	        <div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-info-sign"></div>
	        <p class="rightColumnSubHeader" style="display:inline-block;">Description </p>
	        <%= f.text_area :description, :rows => "5", :placeholder => "Give a short description" %>

	        <div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-tags"></div>
	        <p class="rightColumnSubHeader" style="display:inline-block;">Tags </p>
	         <%= f.text_field :tag_list, :placeholder => "Type at least 3 tags" %>
	        <%= f.submit :class => "submit" %>
			<% end %>
	    </div>

	</div>


	<div class="rightColumnBox">
	    <p class="rightColumnHeader">Ask a question </p>
	    <div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-question-sign"></div>
	    <p class="rightColumnSubHeader">Question: </p>
	    <form class="inputPadding">
	        <input type="text" placeholder="Ask the community">
	        <div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-tags"></div>
	        <p class="rightColumnSubHeader">Tags</p>
	        <input type="text" placeholder="Type at least 3 descriptive tags">
	        <input type="submit" value="Ask" class="submit">
	    </form>
	</div>

	</div>


	<!-- Footer -->

	</div> <!-- End Content Wrapper -->

	<div id="footer">
	(c) 2012 KnowledgeThief - About - Terms - Privacy - Upload - Blog - Twitter - Facebook</div>
 <a href="/contact"><img src="assets/footerFeedbackIcon.png" style="float:right; position:relative;"></a>
	</div>

</body>
</html>
