<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=no" />
    <title><%= content_for?(:title) ? yield(:title) : "Knowledge Thief" %></title>
    <%= csrf_meta_tags %>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
 <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
   
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35961002-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>


	<div id="wrapper">
	<div id="frameHolder"></div>
	<div id="header">

	
	    <div id="logoText">
			<a href="/" style="margin-top:2px;"><img src="assets/KT_Logo.png" height="40px"></a>
	        <a href="/" style="font-family:robotoRegular, Helvetica, Arial, sans-serif; color:#fff;margin-left:30px;margin-top:13px;font-size:20px">KnowledgeThief</a>

	    </div>



	        <div id="mainSearchWrapper">

	           	<form accept-charset="utf8" action="/resources" method="get">
						<div id="mainSearchWrapper">
					    	<%= text_field_tag :tag,  params[:tag], :class =>"mainSearch", :placeholder => "I want to learn..." %>
					    <input type="image" src="assets/searchIcon.png" value=" " class="mainSubmit">
					    </div>
					</form>
			




				<div id="resourceViewMenu" style="display:none;position:relative;top:-50px;left:20px;">
	            <a href="/"><img src="assets/circleThumbsDown.png" height="30px" style="position:relative; display:inline-block; float:left; margin-left:-60px; margin-top:-29px;" /></a>

	            <a href="/"><img src="assets/circle_thumbsUp.png" height="30px" style="position:relative; display:inline-block; float:left; margin-left:-100px; margin-top:-29px;" /></a>

	            <a href="#"><img src="assets/circleBack.png" id="home_Button" height="30px" style="position:relative; display:inline-block; float:left; margin-left:-140px; margin-top:-29px;" /></a>

				</div>

				<div id="resourceAddMenu" style="position:relative;right:15px;">
				<a class="modalPopup_question" href="#modalAskQuestion"><img src="assets/circleQuestion.png" height="30px" style="position:relative; display:inline-block; float:right; margin-right:-60px; margin-top:-29px;" /></a>
				

			
				<a class="modalPopup" href="#modalAddPath"><img src="assets/circlePath.png" height="30px" style="position:relative; display:inline-block; float:right; margin-right:-100px; margin-top:-29px;" /></a>
				
					
				<a class="modalPopup_resource" href="#modalAddResource"><img src="assets/circleResource.png" height="31px" style="position:relative; display:inline-block; float:right; margin-right:-140px; margin-top:-29px;" /></a>
	    	</div> 
				</div><!-- end mainSearchWrapper -->


	<div id="headerRight"> <!-- Header right -->
		<% if user_signed_in? %>
		 <div class="signin">
			<nav>
			<ul>
				
				<li id="login">
					<a id="login-trigger" href="#">
							<%= current_user.email %> 
					</a>
					<div id="login-content">
					<br> Reputation: <%= current_user.reputation_for(:karma).to_i %></br>
						<b><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></b>
					</div>                     
				</li>
			</ul>
			</nav>
		<% else %>
		 <div class="signin">
			<nav>
			<ul>
				<li id="login">
					<a id="login-trigger" href="#">
						Log in <span>▼</span>
					</a>
					<div id="login-content">
						<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
							<div><%= f.label :email %><br />
							<%= f.email_field :email %></div>

							<div><%= f.label :password %><br />
							<%= f.password_field :password %></div>

							<% if devise_mapping.rememberable? -%>
								<div id="rememberMeCheckbox"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
								<% end -%>
								<div><%= f.submit "Sign in" %></div>
						<% end %>
					</div>                     
				</li>
				<li id="register" style="margin-left:1px;">
					<a id="register-trigger" href="#">
						Sign Up
					</a>
					<div id="register-content">
						<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
						  <%= devise_error_messages! %>

						  <div><%= f.label :email %><br />
						  <%= f.email_field :email %></div>

						  <div><%= f.label :password %><br />
						  <%= f.password_field :password %></div>

						  <div><%= f.label :password_confirmation %><br />
						  <%= f.password_field :password_confirmation %></div>
						
						  <div style="margin-top:5px;"><%= f.submit "Sign up" %></div>
						<%end%>
				</li>
			</ul>
			</nav>
		
		<%end%>
	 	<!-- ><a href="/register">Sign up</a>  | 
		<div style="display:inline; font-size:12px; color: #eee; margin-right:1px;" class="icon-user"></div>
		<a href="/login"> Sign In </a> 
		-->
	 </div>


</div> <!-- end header -->


<div id="subHeader">
	<div id="expBarWrapper">
    
    	<div id="leftRank">
    
            Newb
    
        </div>
        
        <div id="rightRank">
        
           LEVEL : Less newb
        
        </div>	
        
        <div id="expBar">
        
        	<div id="expPercent">
            
            	33/144
                
            </div>
        </div>
    
    </div>


</div> <!-- end subHeader -->


</div>


<div id="contentWrapper">

<div id="contentColumn">


		<%= yield.dup.force_encoding(Encoding::UTF_8) %>

	
		
		</div> <!-- end contentWrapper -->
	</div> <!-- end wrapper -->
</div>

<!-- Miscellaneous HTML    -->
<div class="modalForm" id="modalAddResource" style="display:none;">
	      <h2>  Submit a Resource</h2>

	    
			<div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-link"></div>
	        <p class="rightColumnSubHeader" style="display:inline-block;">Link </p>

			<%= form_for(Resource.new) do |f| %>
	        <%= f.text_field :link, :placeholder => "Paste link to resource" %>
			<br>
	        <div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-book"></div>
	        <p class="rightColumnSubHeader" style="display:inline-block;">Title </p><br>
	        <%= f.text_field :title, :placeholder => "Enter a title" %><br>

	        <div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-info-sign"></div>
	        <p class="rightColumnSubHeader" style="display:inline-block;">Description </p><br>
	        <%= f.text_area :description, :rows => "5", :placeholder => "Give a short description" %><br>

	        <div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-tags"></div>
	        <p class="rightColumnSubHeader" style="display:inline-block;">Tags </p><br>
	         <%= f.text_field :tag_list, :placeholder => "Type at least 3 tags" %><br>
	        <%= f.submit :class => "submit" %>
			<% end %>

</div>
<div class="modalForm" id="modalAskQuestion" style="display:none;">
	<h2>Ask a question </h2>
		<div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-question-sign"></div>
        <p class="rightColumnSubHeader" style="display:inline-block;">Question </p>

		<form class="inputPadding">
	        <textarea rows="4" cols="45"></textarea>
			<div style="display:inline; font-size:13px; color: #ccc; margin-right:3px; margin-left:9px;" class="icon-tags"></div>
	        <p class="rightColumnSubHeader" style="display:inline-block;">Tags </p><br>

	        <input type="text" placeholder="Type at least 3 descriptive tags">
	        <input type="submit" value="Ask" class="submit">
	    </form>
</div>
<div class="modalForm" id="modalAddPath" style="display:none;" >
	<script>
    $(function() {
        $( "#sortable1, #sortable2" ).sortable().disableSelection();

        var $tabs = $( "#tabs" ).tabs();

        var $tab_items = $( "ul:first li", $tabs ).droppable({
            accept: ".connectedSortable li",
            hoverClass: "ui-state-hover",
            drop: function( event, ui ) {
                var $item = $( this );
                var $list = $( $item.find( "a" ).attr( "href" ) )
                    .find( ".connectedSortable" );

                ui.draggable.hide( "slow", function() {
                    $tabs.tabs( "select", $tab_items.index( $item ) );
                    $( this ).appendTo( $list ).show( "slow" );
                });
            }
        });
    });
    </script>
	<h2>Add to Path </h2>
	<div id="tabs">
	    <ul>
	        <li><a href="#tabs-1">Unsorted Resources</a></li>
	        <li><a href="#tabs-2">GIT Learning Paths</a></li>
	    </ul>
	    <div id="tabs-1">
	        <ul id="sortable1" class="connectedSortable ui-helper-reset">
	            <li class="ui-state-default">GIT Real</li>
	            <li class="ui-state-default">Calclifesaver</li>
	            <li class="ui-state-default">Z Type</li>
	            <li class="ui-state-default">Try Ruby</li>
	            <li class="ui-state-default">RailsCasts</li>
	        </ul>
	    </div>
	    <div id="tabs-2">
	        <ul id="sortable2" class="connectedSortable ui-helper-reset">
	            <li class="ui-state-highlight">Learn GIT</li>
	            <li class="ui-state-highlight">GIT Lessons</li>
	            <li class="ui-state-highlight">GIT Tutorials</li>
	            <li class="ui-state-highlight">GIT Learning</li>
	            <li class="ui-state-highlight">GIT GIT GIT</li>
	        </ul>
	    </div>
	</div>
</div>

<div class="slide-out-div" style="display:none;">
    <a class="handle" href="http://link-for-non-js-users">Content</a>
    <h1>Comments</h1>
    <p>This is a comment
	</p>
</div>
	</body>
	</html>